.profil-instansi{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.split-view-profil{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin-top: 25px;
  gap: 30px;
  align-items: center;
}
.left-view-profil{
  display: flex;
  justify-content: center;
  width: 75%;
  flex-direction: column;
}
.profil-title{
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}
.profil-top{
  align-items: center;
  display: flex;
  flex-direction: column;
}
.profil-name{
  font-size: 24px;
  font-weight: 600;
}
.profil-about{
  font-size: 20px;
  text-align: justify;
}
.profil-structure{
  margin-top: 50px;
  width: 100%;
}
.the-structure{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.photo-structure{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.photo-structure:hover{
  transform: translateY(-10px);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 10px;
}
.photo-profil{
  width: 90%;
  border-radius: 10px;
}
.structure-name{
  font-size: 20px;
  font-weight: 600;
}
.structure-name1 {
  font-size: 20px;
}